{% extends 'base.html' %}
{% load static fields_tags %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="row align-items-start">
      <div class="col-10">
        <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapsdescripcion" aria-expanded="false" aria-controls="collapsdescripcion">
          <h1>{% if title %}{{ title }}:{% endif %} {{ object }}</h1>
        </button>
      </div>

      <div class="col text-center">
        
    {% if botones_extra %}
      {% for boton in botones_extra %}
        {% if boton.permiso %}
        <a href="{{ boton.url }}" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ boton.display }}" {% if boton.target %}target="{{ boton.target }}"{% endif %}>
          <img src="{% static 'images/' %}{{ boton.img }}" alt="{{ boton.display }}" height="42px">
        </a>
        {% endif %}
      {% endfor %}
    {% endif %}
      </div>
    </div>

    <div class="collapse" id="collapsdescripcion">
      <div class="card card-body">
        {% get_object_value object 'descripcion' %}
        
        <hr>
        
        <ul>
          {% for elemento in object.get_usuarios %}
          <li> 
            <form class="row g-3" method="post" action="{% url 'seguimiento:delete_proyectousuario' elemento.id %}?next={% url 'seguimiento:detail_proyecto' object.id %}">
              {% csrf_token %}
              <div class="col-auto">
              <input type="submit" value="X" name="" class="btn btn-danger btn-sm">
              </div>
              <div class="col-auto">
              {{ elemento.usuario }}
              </div> 
            </form>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="container">
    {% for campo in campos.lista %}
      <div class="row">
        <div class="col">
          <strong>{% get_verbose_field_name object campo %}</strong>
        </div>
        <div class="col">
          {% get_object_value object campo %}
        </div>
      </div>
    {% endfor %}

    {% for extra in campos_extra %}
      <div class="row">
        <div class="col">
          <strong>{{ extra.nombre }}</strong>
        </div>
        <div class="col">
        {% if extra.valor %}
         {% get_object_value object extra.valor %}
        {% elif extra.funcion %}
          {% get_object_funcvalue object extra.funcion %}
        {% elif extra.ul_lista %}
          <ul>
          {% for elemento in extra.ul_lista %}
          <li> 
            <form class="row g-3" method="post" action="{% url 'seguimiento:delete_proyectousuario' elemento.id %}?next={% url 'seguimiento:detail_proyecto' object.id %}">
              {% csrf_token %}
              <div class="col-auto">
              <input type="submit" value="X" name="" class="btn btn-danger btn-sm">
              </div>
              <div class="col-auto">
              {{ elemento.usuario }}
              </div> 
            </form>
          </li>
          {% endfor %}
          </ul>
        {% elif extra.porcentaje %}
          {% convertir_porcentaje extra.porcentaje %}
        {% else %}
          {{ extra.constante }}
        {% endif %}
        </div>
      </div>
    {% endfor %}

    {% if campos.opciones %}
      <div class="row">
        <div class="col">
          <strong>{{ campos.opciones }}</strong>
        </div>

        <div class="col">
          {% if not permisos.bloqueado %}
            {% for form in forms %}
              {% if form.action %}
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#{{ form.modal }}" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ form.display }}" modal="{{ form.modal }}" tipo="{{ form.tipo }}" obj_id="{{ form.id }}">
                <img src="{% static 'images/' %}{{ form.link_img }}" alt="{{ form.display }}" height="25px">
              </button>
              {% endif %}
            {% endfor %}
          {% endif %}

            {% if permisos.update and object.url_update %}
            <a href="{{ object.url_update }}" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ opciones.update }}">
              <img src="{% static 'images/' %}{{opciones.update_img}} " alt="{{ opciones.update }}" height="25px">
            </a>
            {% endif %}
            {% if permisos.delete and object.url_delete %}
            <a href="{{ object.url_delete }}" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ opciones.delete }}">
              <img src="{% static 'images/' %}{{opciones.delete_img}}" alt="{{ opciones.delete }}" height="25px">
            </a>
            {% endif %}
        </div>
          {% endif %}
    </div>

  <div class="row">
  {% for table in tables %}
    {% if table.object_list %}
      <div class="col"> 
        <h2>{{ table.title }}</h2>
        <table class="table">
          <thead>
            <tr>
              {% if table.enumerar > -1 %}
              <th scope="col">#</th>
              {% endif %}

              {% for campo in table.lista %}
                <th scope="col">{% get_verbose_field_name table.object_list.0 campo %}</th>
              {% endfor %}

              {% for extra in table.campos_extra %}
                <th scope="col">{{ extra.nombre }}</th>
              {% endfor %}

              {% if table.opciones %}
              <th scope="col">{{ table.opciones }}</th>
              {% endif %}
            </tr>
          </thead>

          <tbody>
            {% for object in table.object_list %}
            <tr>
              {% if table.enumerar > -1 %}
              <th scope="row">
                {% if table.enumerar == 0 %}
                  {{ forloop.counter0 }}
                {% else %}
                  {{ forloop.counter }}
                {% endif %}
              </th>
              {% endif %}

              {% for campo in table.lista %}
              <td>{% get_object_value object campo %}</td>
              {% endfor %}

              {% for extra in table.campos_extra %}
              {% if extra.value %}
              <td>{% get_object_value object extra %}</td>
              {% elif extra.funcion %}
              <td>{% get_object_funcvalue object extra.funcion %}</th>
              {% else%}
              <td>{{ extra.constante }}</td>
              {% endif %}
              {% endfor %}

              {% if table.opciones %}
              <th scope="col">
                {% if table.permisos.update and object.url_update %}
                <a href="{{ object.url_update }}{% if table.next %}?next={{ table.next }}{% endif %}" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ opciones.update }}">
                  <img src="{% static 'images/' %}{{ opciones.update_img}}" alt="{{ opciones.update }}" height="25px">
                </a>
                {% endif %}
                
                {% if table.permisos.delete and object.url_delete %}
                <a href="{{ object.url_delete }}{% if table.next %}?next={{ table.next }}{% endif %}" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ opciones.delete }}">
                  <img src="{% static 'images/' %}{{ opciones.delete_img }}" alt="{{ opciones.delete }}" height="25px">
                </a>
                {% endif %}
              </th>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
  {% endfor %}
  </div>

  <hr width="95%">

<div class="row">
    
    <div class="col-3">
    <div class="row">
      <button id="pendiente" type="button" class="btn btn-light" obj_id="{{ object.id }}">
        Pendientes
      </button>
    </div>
    <hr>
    {% if fases %}
      {% for fase in fases %}
      <div class="row">
        <button id="fase" type="button" class="btn btn-light" obj_id="{{ fase.id }}">
        {{ fase.descripcion }}
        </button>
      </div>
      {% endfor %}
    {% endif %}

    </div>
    <div class="col" id="col_tarea">
      {% if faseactiva %}
        <div id="faseactiva" obj_id="{{ faseactiva }}">{{ faseactiva }}</div>
      {% endif %}
    </div>

</div>

    {% for table in manual_tables %}
      {% include 'template/manual_tables.html' %}
    {% endfor %}

    {% for form in forms %}
      {% include 'template/modal_form.html' %}
    {% endfor %}


<script type="text/javascript" src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script>
    //Permite regresar a la fase activa que se estaba modificando
    $(document).ready(function() {
      var faseactiva = "{{ faseactiva }}";
      var opcion = "{{ opcion }}";
      if (faseactiva != 'None') {
        $('button#fase[obj_id="' + faseactiva +'"]').click();
      } else if (opcion == 'pendientes') {
        $('button#pendiente').click();
      }
    });

    // obtiene los pendientes que se desea ver y se recarga la seccion central
    $("button#pendiente").on('click', function(){
      var obj_id  = $(this).attr('obj_id');
      $.ajax({
        url: "{% url 'seguimiento:tabla_pendiente' %}",
        type: 'get',
        data: {
          'obj_id': obj_id,
        },
        success: function(data){
          $('div#col_tarea').html(data)
        },
      });
    });

    // obtiene la fase que se desea ver y se recarga la seccion 
    // central para observar tareas y actividades
    $("button#fase").on('click', function(){
      var obj_id  = $(this).attr('obj_id');
      $.ajax({
        url: "{% url 'seguimiento:accordion_tareaactividad' %}",
        type: 'get',
        data: {
          'obj_id': obj_id,
        },
        success: function(data){
          $('div#col_tarea').html(data)
        },
      });
    });

    // Permite modificar el combo de tarea con base en la fase seleccionada
    // al momento de crear una actividad
    $("select#id_fase").on('change', function(){
      var fase_id = $(this).val()
      $.ajax({
        url: "{% url 'seguimiento:combo_fasetarea' %}",
        type: 'get',
        data: {
          'fase_id': fase_id
        },
        success: function(data){
          $('select#id_tarea').html(data)
        },
      });
    });
</script>
{% endblock %}
