{% extends 'base.html' %}
{% load static fields_tags %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="row align-items-start">
      <div class="col-10">
        <h1>{% if title %}{{ title }}:{% endif %} {{ object }}</h1>
      </div>
      <div class="col text-center">
        
      {% if botones_extra %}
      {% for boton in botones_extra %}
      <a href="{{ boton.url }}" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ boton.display }}" target="{{ boton.target }}">
        <img src="{% static 'images/' %}{{ boton.img }}" alt="{{ boton.display }}" height="42px">
      </a>
      {% endfor %}
      {% endif %}
      </div>
    </div>

    <div class="container">
    {% for campo in campos.lista %}
      <div class="row">
        <div class="col">
          <strong>{% get_verbose_field_name object campo %}</strong>
        </div>
        <div class="col">
          {% get_object_value object campo %}
        </div>
      </div>
    {% endfor %}

    {% for campo in campos_adicionales %}
      <div class="row">
        <div class="col">
          <strong>{{ campo.display }}</strong>
        </div>
        {% if 'valor' in campo %}
        <div class="col"> {{ campo.valor }}</div>
        {% elif 'ul_lista' in campo %}
        <div class="col"> 
          <ul>
          {% for elemento in campo.ul_lista %}
          <li> 
            <form class="row g-3" action="{% url 'seguimiento:delete_proyectousuario' elemento.id %}?next={{object.id}}">
              {% csrf_token %}
              <div class="col-auto">
              <input type="submit" value="X" name="" class="btn btn-danger btn-sm">
              </div>
              <div class="col-auto">
              {{ elemento.usuario }}
              </div> 
            </form>
          </li>
          {% endfor %}
          </ul>
        </div>
        {% elif 'enlace_blank' in campo  %}
        <div class="col">
          <a href="{{ campo.enlace_blank }}" target="_blank" class="btn btn-light">
            {% if 'img' in campo %}
              <img src="{% static 'images/' %}{{ campo.img }}" alt="{{ campo.label }}">
            {% elif 'label' in campo %}
              {{ campo.label }}
            {% else %}
              {{ campo.enlace_blank }}
            {% endif %}
          </a>
        </div>
        {% else %}
        {{ campo }}
        {% endif %}
      </div>
    {% endfor %}

    {% if campos.opciones %}
      <div class="row">
        <div class="col">
          <strong>{{ campos.opciones }}</strong>
        </div>

        <div class="col">
            {% for form in forms %}
              {% if form.action %}
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#{{ form.modal }}" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ form.display }}" modal="{{ form.modal }}" tipo="{{ form.tipo }}" id="{{ form.id }}">
                <img src="{% static 'images/' %}{{ form.link_img }}" alt="{{ form.display }}" height="25px">
              </button>
              {% endif %}
            {% endfor %}

            {% if permisos.update and object.url_update %}
            <a href="{{ object.url_update }}" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ opciones.update }}">
              <img src="{% static 'images/' %}{{opciones.update_img}} " alt="{{ opciones.update }}" height="25px">
            </a>
            {% endif %}
            {% if permisos.delete and object.url_delete %}
            <a href="{{ object.url_delete }}" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ opciones.delete }}">
              <img src="{% static 'images/' %}{{opciones.delete_img}}" alt="{{ opciones.delete }}" height="25px">
            </a>
            {% endif %}
        </div>
          {% endif %}
    </div>

  <div class="row">
  {% for table in tables %}
    {% if table.object_list %}
      <div class="col"> 
        <h2>{{ table.title }}</h2>
        <table class="table">
          <thead>
            <tr>
              {% if table.enumerar > -1 %}
              <th scope="col">#</th>
              {% endif %}

              {% for campo in table.campos %}
                <th scope="col">{% get_verbose_field_name table.object_list.0 campo %}</th>
              {% endfor %}

              {% for campo in table.campos_extra %}
                <th scope="col">{{ campo.nombre }}</th>
              {% endfor %}

              {% if table.opciones %}
              <th scope="col">{{ table.opciones }}</th>
              {% endif %}
            </tr>
          </thead>

          <tbody>
            {% for object in table.object_list %}
            <tr>
              {% if table.enumerar > -1 %}
              <th scope="row">
                {% if table.enumerar == 0 %}
                  {{ forloop.counter0 }}
                {% else %}
                  {{ forloop.counter }}
                {% endif %}
              </th>
              {% endif %}

              {% for campo in table.campos %}
              <td>{% get_object_value object campo %}</td>
              {% endfor %}

              {% for campo in table.campos_extra %}
              {% if campo.value %}
              <td>{% get_object_value object campo %}</td>
              {% elif campo.funcion %}
              <td>{% get_object_funcvalue object campo.funcion %}</th>
              {% else%}
              <td>{{ campo.constante }}</td>
              {% endif %}
              {% endfor %}

              {% if table.opciones %}
              <th scope="col">
                {% if table.permisos.update and object.url_update %}
                <a href="{{ object.url_update }}{% if table.next %}?next={{ table.next }}{% endif %}" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ opciones.update }}">
                  <img src="{% static 'images/qs_update.png' %}" alt="{{ opciones.update }}" height="25px">
                </a>
                {% endif %}
                
                {% if table.permisos.delete and object.url_delete %}
                <a href="{{ object.url_delete }}{% if table.next %}?next={{ table.next }}{% endif %}" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ opciones.delete }}">
                  <img src="{% static 'images/qs_delete.png' %}" alt="{{ opciones.delete }}" height="25px">
                </a>
                {% endif %}
              </th>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
  {% endfor %}
  </div>


  {% if fases %}
  <div class="row">
    <div class="accordion" id="accordionFases">
      {% for object in fases.object_list %}
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{forloop.counter}}" aria-expanded="true" aria-controls="collapse{{forloop.counter}}">
            {% if fases.permisos.update and object.url_update %}
              <a href="{{ object.url_update }}{% if fases.next %}?next={{ fases.next }}{% endif %}" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ opciones.update }}">
                <img src="{% static 'images/qs_update.png' %}" alt="{{ opciones.update }}" height="25px">
              </a>
            {% endif %}
              
            {% if fases.permisos.delete and object.url_delete %}
              <a href="{{ object.url_delete }}{% if fases.next %}?next={{ fases.next }}{% endif %}" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ opciones.delete }}">
                <img src="{% static 'images/qs_delete.png' %}" alt="{{ opciones.delete }}" height="25px">
              </a>
            {% endif %} 
            {{ object }} ({% get_object_funcvalue object fases.func_extra %} %)
          </button>
        </h2>
        <div id="collapse{{forloop.counter}}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <table class="table">
                <tbody>
                  {% for subobj in object.get_todas_tareas %}
                  <tr>
                    {% for campo in fases.campos %}
                    <td>{% get_object_value subobj campo %}</td>
                    {% endfor %}

                    <td>
                    {% if fases.permisos_tarea.update and subobj.url_update %}
                      <a href="{{ subobj.url_update }}{% if fases.next %}?next={{ fases.next }}{% endif %}" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ opciones.update }}">
                        <img src="{% static 'images/seguimiento_update.png' %}" alt="{{ opciones.update }}" height="25px">
                      </a>
                    {% endif %}
                      
                    {% if fases.permisos_tarea.delete and subobj.url_delete %}
                      <a href="{{ subobj.url_delete }}{% if fases.next %}?next={{ fases.next }}{% endif %}" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ opciones.delete }}">
                        <img src="{% static 'images/seguimiento_delete.png' %}" alt="{{ opciones.delete }}" height="25px">
                      </a>
                    {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
            </table>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}

    {% for table in manual_tables %}
      {% include 'template/manual_tables.html' %}
    {% endfor %}

    {% for form in forms %}
      {% include 'template/modal_form.html' %}
    {% endfor %}


<script type="text/javascript" src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script>
    $(".btn-primary").mouseenter(function(){
      var valor = $(this).attr('modal')
      console.log('Modal' + valor)
      if (valor == 'comentario'){
        var id = $(this).attr('obj_id')
        var tipo = $(this).attr('tipo')
        //console.log('Antes:' + $('#comentario .modal-body form input#id_tipo').attr('value'))
        $('#comentario .modal-body form input#obj_id').val(id)
        $('#comentario .modal-body form input#id_tipo').val(tipo)
      }
    });
</script>
{% endblock %}

