{% load static i18n %}

{% if user.is_authenticated %}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    {% translate "Catálogos" %}
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'seguimiento:list_estado' %}">{% translate "Estados" %}</a></li>
    <li><hr class="dropdown-divider"></li>
  </ul>

</li>
<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="{% url 'seguimiento:list_proyecto' %}">{% translate "Proyectos" %}</a>
</li>
<!--
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    {% translate "Qlik Sense" %}
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'qliksense:list_stream' %}">Listar Streams</a></li>
  </ul>
-->
</li> 
{% endif %}
